* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --light-color: #f2f6ff;
  --dark-color: #001133;
  --primary-color: #0095b2;
  --text-color: var(--dark-color);
  --van-white: var(--light-color);
  --van-primary-color: var(--primary-color);
  --van-button-radius: 10px;
  --van-button-default-height: 38px;
}

html,
body,
#app {
  font-size: 14px;
  height: 100vh;
  color: #001133;
}

body {
  min-width: 320px;
  overflow: hidden;
}
#app {
  overflow: auto;
  background: linear-gradient(-2000deg, #0095b2 0%, #79f2d5 53%, #dae2f2 100%);
}

input {
  border: none;
  outline: none;
}
input:disabled {
  background-color: transparent;
}

.i-icon {
  display: inline-flex;
}

.justify {
  display: flex;
  justify-content: space-between;
}
